html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Circular', sans-serif;
}

@font-face {
	font-family: 'Circular', sans-serif;
	src: url(../fonts/CircularStd-Bold.otf);
}

.header {
	z-index: 999;
}

.slider {
	height: 100vh;
	background-color: #0C2144;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -999;
}

.slider__slide {
	display: block;
	color: #fff;
	text-decoration: none;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 50%;
	transition: ease-in .5s;
	position: relative;
  outline: none;
}

.slider__container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.slider__slide:hover {
	flex-basis: 150%;
	transition: ease-in .5s; 
}

.slider__slide {
	overflow: hidden;
}

.slider__slide-header {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight : bold;
	color : #fff;
}

.slider__slide-title {
	margin: 0;
	font-size : 72px;
	text-transform : uppercase;
}

.after-separator::after {
	content: '';
	display: block;
	top: 50%;
	right: 50%;
	position: absolute;
	height: 150px;
	width: 2px;
	transform: translate(-50%, -50%);
	background-color: #fff;
	transition: height ease-in 1s;
}

.slider__slide:hover ~ .after-separator::after {
	height: 0;
	opacity: 0;
	/*transition: height ease-in .3s;*/
}

.slider__slide-img {
	width: 100%;
	height: 100%;
	margin: 0;
	opacity: 0;
	transition: ease-in .3s;
}

.slider__slide .slider__slide-img:hover {
	opacity: 1 !important;
	transition: ease-in .3s;
}

.slider__slide-img-left {
	background: url('../images/image-1.jpg') no-repeat center;
}

.slider__slide-img-right {
	background: url('../images/image-2.jpg') no-repeat center;
}

.slider__description {
	position: absolute;
	bottom: 30px;
	text-align: center;
	left: 50%;
	transform: translate(-50%, 0);
	color: #fff;
	width: 100%;
	font-size: 21px;
}

.slider__inner-bold {
	font-weight: 900;
}

.mobile-slider {
	display: none;
}

.slider__slide-desc--dt {
	position: absolute;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 0);
	opacity: 0;
	transition: ease-in .3s;
	width: 500px;
	text-align: start;
	font-size: 26px;
	margin: 0;
	padding-left: 80px;
}

.slider__slide-desc--dt span {
	text-transform: uppercase;
}

.slider__slide-desc--dt::before {
	content: '';
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	left: 2px;
	top: 5px;
	padding: 10px;
}

.slider__slide-left .slider__slide-header .slider__slide-desc--dt::before {
	content: url('../images/slider-ico-1.svg');
}

.slider__slide-right .slider__slide-header .slider__slide-desc--dt::before {
	content: url('../images/slider-ico-2.svg');
}

.slider__slide:hover .slider__slide-desc--dt {
	opacity: 1;
	animation: toTop .8s;
	transition: ease-in .3s;
}

@keyframes toTop {
	from {opacity: 0; bottom: -300px;}
	25% {opacity: 0.05; bottom: -250px;}
	50% {opacity: 0.1; bottom: -200px;}
	75% {opacity: 0.25; bottom: -175px;}
	90% {opacity: 0.5; bottom: -100px;} 
	to {opacity: 1; bottom: -50px;}
}

.slider__description {
	opacity: 1;
	transition: ease-in .3s;
}

.slider__slide:hover ~ .slider__description {
	opacity: 0;
	transition: ease-in .3s;
	animation: toBottom .8s;
}

@keyframes toBottom {
	from {opacity: 1; bottom: 30px;}
	25% {opacity: 0.5; bottom: 20px;}
	50% {opacity: 0.25; bottom: 0;}
	75% {opacity: 0.1; bottom: -5px;}
	90% {opacity: 0.03; bottom: -10px;} 
	to {opacity: 0; bottom: -20px; display: none;}
}

@media screen and (max-width: 1200px) {
	.slider {
		height: 65vh;
	}

	.slider__container {
		display: none;
	}

	.mobile-slider {
		display: flex;
		/*flex-direction: column;*/
		/*width: 100%;*/
		height: 100%;
		/*padding: 20em 0;*/
	}

	.mobile-slider__container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/*padding: 50% 0;*/
	}

	.slider__slide {
    display: flex !important;
		flex-basis: auto;
		position: relative;
		width: 100%;
		height: 65vh !important;
		overflow: visible;
	}

	.slider__slide--top {
		/*margin-top: 50%;*/
		position: absolute;
		top: 85%;
		transform: translate(0, -70%);
	}

	.slider__slide--bottom {
		/*margin-bottom: 50%;*/
		position: absolute;
		bottom: 85%;
		transform: translate(0, 70%);
	}

	.slider__slide:hover {
		flex-basis: auto;
	}
	

	.mobile-slider__slide-header {
		text-align: center;
		color: #fff;
		width: 760px;
	}

	.slider__slide-title {
		font-size: 6em;
		text-transform: uppercase;
		font-weight: 900;

	}

	.slider__slide-desc {
		font-size: 41px;
		text-align: start;
		padding-left: 135px;
		margin: 0;
		position: relative;
	}

	.slider__slide-desc span {
		text-transform: uppercase;
	}

	.slider__slide-desc::before {
		content: '';
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border: 1px solid #fff;
		border-radius: 50%;
		background-color: #fff;
		position: absolute;
		left: 55px;
		top: 18px;
		padding: 10px;
	}

	.slider__slide-img-left ~ .mobile-slider__slide-header .slider__slide-desc::before {
		content: url(../images/slider-ico-1.svg);
	}

	.slider__slide-img-right ~ .mobile-slider__slide-header .slider__slide-desc::before {
		content: url(../images/slider-ico-2.svg);
	}

	.slider__slide:first-child::after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 80px;
		height: 2px;
		background-color: #fff;
	}

	.mobile-slider__active-slider,
	.mobile-slider__active-slider 
	.slider__slide {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.mobile-slider__active-slider 
	.slider__slide::after {
		content: none;
	}

	.mobile-slider__active-slider 
	.slider__slide 
	.mobile-slider__slide-img {
		width: 100%;
		height: 100%;
		margin: 0;
		z-index: -999;
		width: 100%;
		position: absolute;
	}

	.mobile-slider__navigation,
  .slick-dots {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%, 0);
		margin: 0;
		padding: 0;
		display: flex;
	}

	.mobile-slider__nav-list-item,
  .slick-dots li {
		list-style-type: none;
		margin-right: 10px;
	}

	.mobile-slider__nav-btn,
  .slick-dots button {
		border: 1px solid #c4c4c4;
		background-color: #c4c4c4;
		width: 50px;
		cursor: pointer;
		height: 5px;
    font-size: 0;
	}

	.mobile-slider__nav-btn--active,
  .slick-dots .slick-active button {
		border: 1px solid #fff;	
		background-color: #fff;
	}

	.slider__slide--active {
		display: flex;
	}	

	.slider__slide--hidden {
		display: none;
	}

	.mobile-slider__text-desc {
		font-size: 29px;
		text-align: center;
		color: #fff;
		position: absolute;
		bottom: 30px;
		width: 760px;
    opacity: 1;
    transition: ease-in .3s;
	}

}

@media screen and (max-width: 768px) {
	.mobile-slider__slide-header {
		width: 570px;
	}

	.slider__slide-title {
		font-size: 4.5em;
	}

	.slider__slide-desc {
		font-size: 30px;
		padding-left: 115px;
	}

	.slider__slide-desc::before {
		left: 15px;
		top: 8px;
	}

	.mobile-slider__text-desc {
		font-size: 26px;
		width: 570px;
	}
}

@media screen and (max-width: 576px) {
	.mobile-slider__slide-header {
		width: 480px;
	}

	.slider__slide-title {
		font-size: 3.7em;
	}

	.slider__slide-desc {
		font-size: 24px;
		padding-left: 100px;
	}

	.slider__slide-desc::before {
		width: 40px;
		height: 40px;
		left: 23px;
		top: 7px;
	}

	.slider__slide--top {
		top: 92%;
	}

	.slider__slide--bottom {
		bottom: 92%;
	}

	.mobile-slider__text-desc {
		font-size: 24px;
		width: 480px;
	}
}

@media screen and (max-width: 480px) {
	.mobile-slider__slide-header {
		max-width: 320px;
	}

	.slider__slide-title {
		font-size: 2.5em;
	}

	.slider__slide-desc {
		font-size: 16px;
		padding-left: 75px;
	}

	.slider__slide-desc::before {
		width: 30px;
		height: 30px;
		left: 15px;
		top: 4px;
		padding: 5px;
	}

	.mobile-slider__text-desc {
		font-size: 16px;
		width: 320px;
	}
}

/*mobile animation*/
.toBottomHover {
	opacity: 0;
	transition: ease-in .3s;
	animation: toBottomHover .8s;
	position: relative;
}

@keyframes toBottomHover {
	from {opacity: 1; bottom: 0;}
	25% {opacity: 0.6; bottom: -50px;}
	50% {opacity: 0.5; bottom: -100px;}
	75% {opacity: 0.4; bottom: -250px;}
	90% {opacity: 0.15; bottom: -350px;} 
	to {opacity: 0; bottom: -100vh; display: none;}
}

.toLeftHover {
	opacity: 0;
	transition: ease-in .3s;
	animation: toLeftHover .8s;
	position: relative;
}

@keyframes toLeftHover {
	from {opacity: 1; left: 0;}
	25% {opacity: 0.6; left: -50px;}
	50% {opacity: 0.5; left: -100px;}
	75% {opacity: 0.4; left: -250px;}
	90% {opacity: 0.15; left: -350px;} 
	to {opacity: 0; left: -100vh; display: none;}
}

.mobile-slider__slide-header .animation-desc {
	opacity: 1;
	animation: toTopOnClick .8s;
	transition: ease-in .3s;
}

@keyframes toTopOnClick {
	from {opacity: 0; bottom: -300px;}
	25% {opacity: 0.05; bottom: -250px;}
	50% {opacity: 0.1; bottom: -200px;}
	75% {opacity: 0.25; bottom: -175px;}
	90% {opacity: 0.5; bottom: -100px;} 
	to {opacity: 1; bottom: -50px;}
}

.slider-hidden {
	position: absolute; 
	opacity: 0; 
	z-index: -1
}

.slider-active {
	opacity: 1;
	z-index: 1;
	animation: active .5s;
}

@keyframes active {
	from {opacity: 0;}
	25% {opacity: 0.25;}
	50% {opacity: 0.5;}
	75% {opacity: 0.75;}
	90% {opacity: 0.9;} 
	to {opacity: 1;}
}

@keyframes descToBottom {
	from {opacity: 1; bottom: 30px;}
	25% {opacity: 0.6; bottom: 15px;}
	50% {opacity: 0.4; bottom: 5px;}
	75% {opacity: 0.2; bottom: 0;}
	90% {opacity: 0.05; bottom: -10px;} 
	to {opacity: 0; bottom: -50px; display: none;}
}

.desc-to-bottom {
	animation: descToBottom .5s;
	opacity: 0;
  transition: ease-in .3s;
}
